In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\raths\\Downloads\\jobs (1).csv')

In [3]:
df.head()

        Company Name                Location                    Job Title
0  Commonwealth Bank  Sydney Area, Australia          Portfolio Executive
1  Commonwealth Bank  Sydney Area, Australia  Solution Delivery Executive
2            CommSec  Sydney Area, Australia              Project Manager
3  Commonwealth Bank  Sydney Area, Australia              Project Manager
4             PayPal  Sydney Area, Australia     Senior Marketing Manager

In [4]:
df.shape

(39537, 3)

In [5]:
df = df.sample(5000,ignore_index=True)

In [6]:
import string

In [7]:
panch = string.punctuation
panch

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
def remove_panch(text):
    mylist = []
    for i in text.split():
        if i not in panch:
            mylist.append(i)
    return " ".join(mylist)

In [9]:
df['Job Title'] = df['Job Title'].apply(remove_panch)
df['Location'] = df['Location'].apply(remove_panch)

In [10]:
df['Company Name'] = df['Company Name'].astype(str)
df['Company Name'] = df['Company Name'].apply(remove_panch)

In [11]:
df['Content'] = df.apply(lambda x: " ".join(x.dropna().astype(str)), axis=1)

In [12]:
df

,Company Name,Location,Job Title,Content
0,Infosys,"Melbourne, Australia",Java Architecture Practice Lead,"Infosys Melbourne, Australia Java Architecture..."
1,ANZ,"Castle Hill, New South Wales, Australia",Technology Program Manager,"ANZ Castle Hill, New South Wales, Australia Te..."
2,Harvey Nichols,"Brisbane, Australia",Systems Manager,"Harvey Nichols Brisbane, Australia Systems Man..."
3,ANZ,"Melbourne Area, Australia",Technical Analyst,"ANZ Melbourne Area, Australia Technical Analyst"
4,Civmec Construction Engineering,"Perth, Australia",Health and Safety Superintendent,"Civmec Construction Engineering Perth, Austral..."
...,...,...,...,...
4995,Melbourne IT Group,"Brisbane Area, Australia",Network Engineer,"Melbourne IT Group Brisbane Area, Australia Ne..."
4996,AutoGuru,"Elanora, Queensland, Australia",Freelance Senior Designer,"AutoGuru Elanora, Queensland, Australia Freela..."
4997,Westpac,"Sydney, Australia",Personal Banker,"Westpac Sydney, Australia Personal Banker"
4998,Westpac Group,"Sydney Area, Australia","Head of Executive Office, Product Operations","Westpac Group Sydney Area, Australia Head of E..."
4999,Brotherhood of St Laurence,"Melbourne, Australia","Project Lead, Family Violence","Brotherhood of St Laurence Melbourne, Australi..."

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000)

In [14]:
metrics = cv.fit_transform(df['Content']).toarray()

In [15]:
metrics.shape

(5000, 5000)

In [16]:
similarity = cosine_similarity(metrics)

In [17]:
def recommend(Job_Title):
    index = df[df['Job Title'] == Job_Title].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    new_index = [i[0] for i in distances[1:11]]
    return df.iloc[new_index, :-1]

In [18]:
df.sample(5)

,Company Name,Location,Job Title,Content
4391,Randstad,"Sydney, Australia",Education Consultant Randstad Education,"Randstad Sydney, Australia Education Consultan..."
4137,University of Sydney,"Canberra, Australia",Honorary Senior Lecturer,"University of Sydney Canberra, Australia Honor..."
141,Australian Psychological Society (APS),"Sydney, Australia","Past National Chair, College of Organisational...","Australian Psychological Society (APS) Sydney,..."
4958,Deloitte Australia,"Riverside Centre, Queensland, Australia",Deloitte Australia Restructuring Services,"Deloitte Australia Riverside Centre, Queenslan..."
496,Acuity Property Solutions,"Brisbane, Queensland, Australia",Managing Director,"Acuity Property Solutions Brisbane, Queensland..."

In [19]:
recommend('Interior Designer')

,Company Name,Location,Job Title
3131,Futurespace,"Sydney, Australia",Interior Designer
809,Optus,"Sydney Area, Australia",Solution Designer
1243,Optus,"Sydney Area, Australia",Digital Designer
2782,Atlassian,"Sydney Area, Australia",Graduate Designer
3714,Redcoal,"Sydney Area, Australia",Graphic Designer
4472,Marchese Partners,"Sydney, Australia",Interior Designer
2373,ATENASTUDIO,"Sydney Area, Australia",Architectural Designer/Graphic Designer
1061,ASG Group,"Sydney Area, Australia",IT Architect
2847,WSP,"Sydney Area, Australia",IT solution developer
3902,Aukett Swanke,"Sydney, Australia",Interior Designer Workplace