In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
df = pd.read_csv('C:\\Users\\raths\\Downloads\\IMDB Dataset - IMDB Dataset.csv')

In [6]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [7]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

# Step 1 Lowercasing

In [8]:
df['review'] = df['review'].str.lower()

In [9]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# Step 2 REmove HTML Tags

In [10]:
import re 
def remove_html_Tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [11]:
text = "<html><body><p> Movie1 </p><p> Click here to <a href = 'http://google.com'>download</a></p>"

In [13]:
remove_html_Tags(text)

' Movie1  Click here to download'

In [14]:
df['review'] = df['review'].apply(remove_html_Tags)

In [15]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [16]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [17]:
text1 = 'Check out my notebook https://www.deture.com/del'

In [18]:
remove_url(text1)

'Check out my notebook '

In [19]:
import string

In [20]:
import time

In [21]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
exclude = string.punctuation

In [23]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [24]:
text1 = 'string.with.Punctuation'

In [25]:
remove_punc(text1)

'stringwithPunctuation'

In [26]:
start = time.time()
remove_punc(text)

'htmlbodyp Movie1 pp Click here to a href  httpgooglecomdownloadap'

In [27]:
time1 = time.time() - start

In [28]:
time1

467.4764778614044