# Introduction to Machine Learning

In [1]:
# Process ===> Data Preparation ===> ML Model ===> Performance Evalution

# 1. Data Preparation

In [2]:
# Data ===> Independent data (x) + Dependent Data (y)
# x ===> x_train , x_test,
# y ===> y_train, y_test

# data Prepare ===> ml model ===> performance evaluation

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\raths\\Downloads\\placement - placement.csv")

In [6]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [8]:
x = df.drop(columns = ['placed'], axis = 1) #Independent columns
y= df['placed'] #Target column

In [11]:
print(x.shape)
y.shape

(100, 2)

(100,)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 42)

In [14]:
x_train.shape

(80, 2)

In [15]:
x_test.shape

(20, 2)

In [17]:
y_train.shape

(80,)

In [18]:
y_test.shape

(20,)

In [19]:
# Stadardization ===> Data Mean = 0, Stadard Deviation =1

In [20]:
np.round(x_train.describe(), 1) #1 is for 1 decimal point

       cgpa  resume_score
count  80.0          80.0
mean    6.9           7.0
std     1.1           1.0
min     5.3           5.0
25%     6.0           6.3
50%     6.6           7.2
75%     8.1           7.7
max     9.3           9.1

In [21]:
np.round(x_train.describe(), 2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [22]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc = StandardScaler()

In [26]:
x_train_sc = sc.fit_transform(x_train) # fit means learn the parameters and transform means apply changes on data 
x_train_sc

array([[-0.00860198, -0.12892612],
       [ 1.00129271, -0.92538093],
       [-0.60738909, -0.52715352],
       [-0.04435046, -0.08910338],
       [ 0.99235559,  2.05136891],
       [ 1.72519952, -1.06476052],
       [ 1.16216089, -1.67205731],
       [ 1.14428664,  0.75712985],
       [ 0.6616821 ,  0.11996601],
       [ 0.60805938,  0.97615492],
       [-1.34917015, -0.45746373],
       [ 0.08970635,  1.13544588],
       [-0.20521864, -1.53267772],
       [ 0.45612832,  0.66752868],
       [ 2.10949572,  0.3887695 ],
       [ 1.62689118, -0.80591271],
       [ 1.2515321 ,  1.01597766],
       [-0.81294288,  1.74274267],
       [ 1.00129271,  0.47837067],
       [ 0.97448134,  0.63766163],
       [-1.3312959 , -0.26830571],
       [ 1.71626239,  0.1896558 ],
       [-0.34821258, -0.70635586],
       [-0.55376637, -0.61675469],
       [-1.2866103 , -0.84573545],
       [-0.17840728,  1.10557883],
       [-0.74144591, -0.2782614 ],
       [ 0.72424195, -1.31365265],
       [-1.07211939,  1.42416075],
       [ 1.38558891, -1.90103806],
       [ 1.13534952, -0.81586839],
       [-0.06222471,  0.26930128],
       [ 0.76892756,  1.70291993],
       [-0.84869136,  1.71287562],
       [-0.56270349, -0.28821708],
       [-1.03637091, -1.33356402],
       [-1.43854136,  0.09009895],
       [ 0.87617301,  1.08566746],
       [ 1.0817268 ,  0.55801615],
       [-0.85762848,  0.48832635],
       [-0.73250879, -0.56697626],
       [-0.76825727, -0.38777393],
       [-0.92018833,  0.17970012],
       [ 1.1264124 ,  0.94628787],
       [ 1.13534952, -0.25835003],
       [-0.32140122, -0.18866023],
       [-1.00062242, -1.78156984],
       [-0.83975424,  0.48832635],
       [-0.05328758,  0.95624355],
       [-0.26777849,  0.77704122],
       [-1.5011012 ,  0.27925697],
       [ 1.54645709, -1.84130395],
       [-0.42864667,  0.36885813],
       [-1.25979893, -0.42759667],
       [ 1.06385255, -1.36343107],
       [-0.54482925,  0.20956717],
       [-0.54482925,  0.93633218],
       [-0.96487394,  0.95624355],
       [ 0.94766998, -2.04041766],
       [-0.89337697,  0.56797183],
       [ 1.51964573,  0.57792752],
       [-1.06318227, -0.50724215],
       [ 1.87713057,  1.20513568],
       [-0.67888606,  0.29916834],
       [-0.6967603 , -1.82139258],
       [-0.93806257,  0.49828204],
       [-0.37502394,  0.63766163],
       [ 1.18003513,  1.85225521],
       [-0.80400576,  0.12992169],
       [-1.18830197, -1.9408608 ],
       [ 1.18897225, -0.69640017],
       [-1.25979893,  0.35890245],
       [-0.68782318, -1.23400716],
       [ 0.86723589, -0.93533661],
       [-1.02743379,  1.0558004 ],
       [-0.96487394, -0.35790688],
       [ 0.34888287,  1.21509136],
       [ 0.50081392, -0.7461786 ],
       [-1.35810727, -0.81586839],
       [-0.36608682,  0.3887695 ]])

In [27]:
x_train_new = pd.DataFrame(x_train_sc, columns= x_train.columns)

In [28]:
x_train_new.head()

       cgpa  resume_score
0 -0.008602     -0.128926
1  1.001293     -0.925381
2 -0.607389     -0.527154
3 -0.044350     -0.089103
4  0.992356      2.051369

In [29]:
np.round(x_train_new.describe(),1)

       cgpa  resume_score
count  80.0          80.0
mean   -0.0          -0.0
std     1.0           1.0
min    -1.5          -2.0
25%    -0.9          -0.7
50%    -0.3           0.2
75%     1.0           0.7
max     2.1           2.1

# Normalization ===> min value = 0, max = 1

In [30]:
from sklearn.preprocessing import MinMaxScaler

In [31]:
mn = MinMaxScaler()

In [32]:
x_train_mn = mn.fit_transform(x_train)

In [33]:
x_train_new = pd.DataFrame(x_train_mn, columns = x_train.columns)

In [34]:
np.round(x_train.describe(),1)

       cgpa  resume_score
count  80.0          80.0
mean    6.9           7.0
std     1.1           1.0
min     5.3           5.0
25%     6.0           6.3
50%     6.6           7.2
75%     8.1           7.7
max     9.3           9.1

In [35]:
np.round(x_train_new.describe(),1)

       cgpa  resume_score
count  80.0          80.0
mean    0.4           0.5
std     0.3           0.2
min     0.0           0.0
25%     0.2           0.3
50%     0.3           0.5
75%     0.7           0.7
max     1.0           1.0