In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\raths\\Downloads\\covid_toy - covid_toy.csv")

In [4]:
df = df.dropna()

In [5]:
df = df.drop(columns = ['age','fever'])

In [6]:
df.head()

   gender cough     city has_covid
0    Male  Mild  Kolkata        No
1    Male  Mild    Delhi       Yes
2    Male  Mild    Delhi        No
3  Female  Mild  Kolkata        No
4  Female  Mild   Mumbai        No

In [7]:
df.shape

(90, 4)

# get_dummies method

In [8]:
p = pd.get_dummies(df, columns = ['gender','cough','city','has_covid'])

In [9]:
p

,gender_Female,gender_Male,cough_Mild,cough_Strong,city_Bangalore,city_Delhi,city_Kolkata,city_Mumbai,has_covid_No,has_covid_Yes
0,0,1,1,0,0,0,1,0,1,0
1,0,1,1,0,0,1,0,0,0,1
2,0,1,1,0,0,1,0,0,1,0
3,1,0,1,0,0,0,1,0,1,0
4,1,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
95,1,0,1,0,1,0,0,0,1,0
96,1,0,0,1,0,0,1,0,0,1
97,1,0,1,0,1,0,0,0,1,0
98,1,0,0,1,0,0,0,1,1,0
99,1,0,0,1,0,0,1,0,0,1

In [10]:
p.shape

(90, 10)

In [11]:
p = pd.get_dummies(df, columns = ['gender','cough','city','has_covid'], drop_first = True)

In [12]:
p

,gender_Male,cough_Strong,city_Delhi,city_Kolkata,city_Mumbai,has_covid_Yes
0,1,0,0,1,0,0
1,1,0,1,0,0,1
2,1,0,1,0,0,0
3,0,0,0,1,0,0
4,0,0,0,0,1,0
...,...,...,...,...,...,...
95,0,0,0,0,0,0
96,0,1,0,1,0,1
97,0,0,0,0,0,0
98,0,1,0,0,1,0
99,0,1,0,1,0,1

In [13]:
p.shape

(90, 6)

# OneHotEncoder

In [14]:
from sklearn.preprocessing import OneHotEncoder

In [15]:
ohe = OneHotEncoder(drop = 'first', sparse = False, dtype = np.int32)

In [16]:
df_new = ohe.fit_transform(df[['gender','cough','city','has_covid']])

C:\Users\raths\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [17]:
df_new.shape

(90, 6)

# Column Transformer

In [18]:
from sklearn.impute import SimpleImputer

In [19]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
df = pd.read_csv("C:\\Users\\raths\\Downloads\\covid_toy - covid_toy.csv")

In [21]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [22]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns = ['has_covid']), df['has_covid'],test_size = 0.2,random_state = 9)

In [25]:
x_train

    age  gender  fever   cough       city
82   24    Male   98.0    Mild    Kolkata
31   83    Male  103.0    Mild    Kolkata
48   66    Male   99.0  Strong  Bangalore
78   11    Male  100.0    Mild  Bangalore
14   51    Male  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
65   69  Female  102.0    Mild  Bangalore
22   71  Female   98.0  Strong    Kolkata
56   71    Male    NaN  Strong    Kolkata
54   60  Female   99.0    Mild     Mumbai
92   82  Female  102.0  Strong    Kolkata

[80 rows x 5 columns]

# Manually type Output

In [26]:
#adding simple imputer to fever column
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])

In [27]:
#also the test data
x_test_fever = si.fit_transform(x_test[['fever']])

In [28]:
x_train_fever.shape

(80, 1)

In [39]:
#ordinal Encoding ---> cough
oe = OrdinalEncoder(categories = [['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])
x_test_cough = oe.fit_transform(x_test[['cough']])

In [40]:
ohe = OneHotEncoder(drop='first', sparse=False)
x_train_gender_city = ohe.fit_transform(x_train[['gender','city']])
x_test_gender_city = ohe.fit_transform(x_test[['gender','city']])

C:\Users\raths\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\raths\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [41]:
x_train_gender_city.shape

(80, 4)

In [30]:
x_train_age = x_train.drop(columns = ['gender','fever','cough','city']).values

In [31]:
x_test_age = x_test.drop(columns=['gender','fever','cough','city']).values

In [104]:
x_train_age.shape

(80, 1)

In [44]:
x_train_transform = np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough), axis = 1)

In [45]:
x_train_transform.shape

(80, 7)

# By the help of column Transformer

In [46]:
from sklearn.compose import ColumnTransformer

In [47]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(),['fever']), #fever column by the help of SI we fill the missing values
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']), #encode the cough column
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough') #it means rest all the columns remain same

In [48]:
transformer.fit_transform(x_train).shape

C:\Users\raths\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [49]:
transformer.transform(x_test).shape

(20, 7)

## the value for the manually type output and column transformer are the same